

body{
	color: #F3E5CA;
	background-image: url("../images/bg3.jpg");
	font-family: 'Quintessential', cursive;
	font-size: 20px;
}

.the-table{
	background-image: url("../images/elvish_table_details.png");
	background-repeat: no-repeat;
	background-color:  #2E332B;
	border: 5px solid #41453E;
	border-radius: 3px 3px 50% 50%;
	margin-top: 50px;
	padding-top:  70px;
	height: 600px;
	min-width: 975px;
}

.player-total, .dealer-total{
	margin-top: 20px;
}

.card-container, .card-front{
	height:  120px;
	width: 85.5px;

}

.card{
	height:  120px;
	background-color:  #262A24;
	/* background-image: url("../images/deck.png"); */
	/* margin-left: -50px; */
	margin:  10px;
	width: 85.5px;
	height: 120px;
	border-radius: 7px;
	overflow: hidden;
	perspective: 200px;

}

.card-container{
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s;
}

.card-front, .card-back{
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.card-front{
	transform: rotateY(180deg);
}

.card-back{
	background-image: url("../images/deck.png");
	width: 85.5px;
	height: 120px;
	margin-left: -15px;

}

.card-front img{
	height: 100%;
	margin-left: -15px;
}


.btn-elv{
	width: 120px;
	font-size: 1em;
	background-color: #d5a140;
	color: #F3E5CA;
	border: 2px solid #886729;
	padding:  5px;
	text-shadow: 0 0 10px #3B2C12;
	border-radius: 0;

}

.button-wrapper{
	margin: 30px 0 0 10px;
}

.message{
	margin-top: 20px;
	background-color: #262A24;
	line-height: 40px;
	color: #545851;
}

.message span{
	color: #F3E5CA;
}

.flip{
	transform: rotateY(-180deg);
}